* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: url('../images/main-pic/background.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

header h1 {
    color: white;
    font-family: Playfair Display;
    font-size: 30px;
}

header {
    background-color: #f72004e7;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header h1 {
    color: white;
    font-family: Playfair Display;
    font-size: 30px;
}

img {
    height: 70px;
    width: 80px;
    border-radius: 24px;
}

nav {
    height: 45px;
    background-color: #cc0000da;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    color: white;
    font-family: Playfair Display;
}


a {
    text-decoration: none;
    color: white;
}




.contain {
    width: 100%;
    max-width: 900px; 
    margin: 0 auto;
    background: #f5f5f0;
    padding: 50px;     
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(247, 32, 4, 0.4);
    box-sizing: border-box;
}



.form button:hover,
.admin button:hover {
    background: #cc0000;
}


.form {
    width: 100%;
}

.form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}




h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

button {
    font-family: Playfair Display;
    color: white;
    background: #f72004e7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
}

.admin-btn {
    width: auto;
    padding: 6px 14px;
    font-family: Playfair Display;
    font-size: 30px;
}

.admin-btn:hover {
    background: #cc0000;
}


.switch {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.switch a {
    color: #cc0000;
    font-weight: bold;
}
